.about {
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 170px;
}

.about-pets {
    margin-right: 120px;
}

.description {
    max-width: 425px;
    h2 {
        margin-bottom: 48px;
    }
p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
}
.first-paragraph{
    display: inline-block;
    margin-bottom: 40px;
}
}